*{
    margin: 0;
 
}

@keyframes transition{
    from{background:#202020;}
    to{background: black;}
  
}

.main_nav{
    background-color:#202020;
    width: 100%;
    height: auto;
    min-width: 500px;
}

.pageNavigationOptions{
  
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

li{
  
    margin: 15px;

}

a{

    text-decoration: none;
    color: white;
}

li:hover{
    
    animation-name: transition;
    animation-duration: 2s;
    border-radius: 15px;
}

