*{
    margin: 0;
}

@keyframes transition{
    from{background:#202020;}
    to{background:#101010	;}
    
}

.main_nav{
    display: flex;
    background: #202020;
    position: sticky;
    color:white;
    padding-left: 55%;
    font-family: sans-serif;
    top: 0;
    height: 70px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex: 5;
    align-items: center;
}

li{
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

li:hover{
    animation-name: transition;
    animation-duration: 2s;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: #808080
}
