*{
    padding: 0;
    margin: 0;
}

.wrap{
    background-image: url(/assets/images/Ravenclaw-Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 20px;
}

@media screen and (max-width: 1200px){
    .header{
        flex-direction: column;
        justify-content: center;
    }
    .child{
        padding: 0 0 30px 0 !important;
    }
}

.child{
    width: 30%;
    padding: 0 12px;
    min-width: 400px;
}

/* .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
    flex-wrap: wrap;
    padding-bottom: 0;   
}

#child{
    width: 30%;
    padding: 0 12px;
    flex: 2;
}  */

.logo{
    width: 100%;
    padding: 3px;
    flex: 4;
}

.breakLine{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: -10px;
}

.flags{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    flex-wrap: wrap;
}




@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#circle{
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.characters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 0 150px 0;
}

#charactersImages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 350px;
    height: 600px;
    padding-top: 50px;
}

.characterText{
    font-family: "Harry Potter";
    font-size: 35px;
    border-radius: 15px;
    color: white;
    margin-top: -500px;
    text-align: center;
  
}

#charactersImages .characterImage,
#charactersImages .characterText { transition: opacity 0.5s ease-in-out }
#charactersImages .characterText { opacity: 0; }

#charactersImages:hover .characterImage { opacity: 0; }
#charactersImages:hover .characterText { opacity: 1; }

.nameOfCharacters{
    font-family: "Harry Potter";
    font-size: 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.quote{ 
    padding: 50px 200px;
    text-align: center;
    color: white;
    font-family: "Harry Potter";
    font-size: 60px;
}

@media screen and (max-width: 1200px){
    .characters{
        flex-direction: column;
        
    }
    .charactersImages{
        padding: 50px 0 50px 0 !important;
        
    }
    .quote{
        padding: 50px 50px !important;
        font-size: 50px !important;
    }
}
